<span>{{ title }} app is running! {{clicked}} :-)</span>
<div class="example-button-row">
<mat-form-field appearance="fill">
     <input id="threadIdField" matInput placeholder="ThreadId" [(ngModel)]="threadId">
</mat-form-field>
<button  id="subscribe" type="button" mat-button (click)="subscribe()">Subscribe</button>
<button  id="unSubscribe" type="button" mat-raised-button (click)="unSubscribe()">UnSubscribe</button>

  <div class="container">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of subscriptions">
        <td></td>
        <td>{{s}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

<div>
  {{wsData}}
</div>
</div>
